<a href="https://colab.research.google.com/github/HeoJinsSeo/Python2023/blob/main/10minutes_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

import pandas as pd

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range("20130101", periods=6)

dates





df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01  2.234634 -0.334564  1.866389  0.271194
2013-01-02 -1.884477 -0.783019  0.167042 -0.428039
2013-01-03  0.792564  0.740802 -0.319587  0.052192
2013-01-04 -0.229590  0.876391  0.923325  0.541977
2013-01-05  0.601533 -0.497805 -0.782820  1.167732
2013-01-06  0.504182  1.438510 -0.611760 -2.402857

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)


df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df2.<TAB>

SyntaxError: ignored

In [ ]:
df.head()








df.tail(3)

                   A         B         C         D
2013-01-04 -0.229590  0.876391  0.923325  0.541977
2013-01-05  0.601533 -0.497805 -0.782820  1.167732
2013-01-06  0.504182  1.438510 -0.611760 -2.402857

In [ ]:
df.index





df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.to_numpy()

array([[ 2.23463363, -0.3345636 ,  1.86638861,  0.2711937 ],
       [-1.8844766 , -0.78301861,  0.16704199, -0.42803935],
       [ 0.79256429,  0.74080231, -0.31958663,  0.05219192],
       [-0.22958971,  0.87639081,  0.92332538,  0.54197684],
       [ 0.60153299, -0.49780456, -0.78281996,  1.16773185],
       [ 0.50418185,  1.43851045, -0.61176005, -2.40285746]])

In [ ]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

# 새 섹션