## 평가 개요
- 평가과정 : 산대특 공공데이터 활용 빅데이터 분석 및 시각화 전문가 과정 육성
- 교과목 : 기초문법
- 단원명 : 파이썬 개발환경 구축 / 파이썬 기초문법
- 평가기준 : 파이썬을 이용하여 다양한 모듈을 활용할 수 있다. 
- 평가일시 : 2023년 3월 16일
- 평가자 : 정지훈 강사
- 수강생 : 허진서

## 문제 1. (6점)
- 임의의 str, int, float 데이터 타입 변수를 지정하고 실제 데이터 타입을 출력한다.

In [ ]:
a = "휴먼"
b = 7
c = 7.0

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

## 문제 2. (6점)
- 두개의 input함수를 활용하여 간산한 사칙연산을 작성하여 출력한다. 
  + 변수명 : var1, var2

In [34]:
var1 = int(input("입력하세요"))
var2 = int(input("입력하세요"))

print(var1+var2)
print(var1-var2)
print(var1*var2)
print(float(var1/var2))
print(var1//var2)   
print(var1**var2)   
print(var1%var2)

입력하세요4
입력하세요2
6
2
8
2.0
2
16
0

## 문제 3. (6점)
- 다음과 같이 문자열이 주어져 있다. 문자열 연산자를 활용하여 `Hello World`를 출력한다. 
  + 출력을 위해 문자열을 임의로 변경할 수 있다. 그러나, 반드시 2개의 변수를 활용해야 한다.

In [ ]:
str1 = "Hello "
str2 = "World"
print(str1+str2)

Hello World

## 문제 4. (6점)
- 다음과 같이 주어져 있을 때, 알파벳 K를 인덱싱하여 출력한다.

In [14]:
greeting = "Hello Kaggle"

print(greeting[6])

K

## 문제 5. (6점)
- 다음과 같이 주어져 있을 때, Kaggle만 슬라이싱하여 출력한다.

In [15]:
greeting = "Hello Kaggle"

print(greeting[6:])

Kaggle

## 문제 6. (6점)
- 리스트와 튜플의 차이에 대해 간단하게 설명하세요.
- 정답 :

In [ ]:
# 리스트는 값을 수정, 삭제 할 수 있지만, 튜플은 수정, 삭제가 불가능하다. 
# 또한 튜플은 리스트와 달리 packing 과 unpacking이 가능하다.

## 문제 7. (6점)
- 다음과 같이 중첩리스트가 주어져 있을 때, `cheery` 글자의 마지막 글자 `y`를 출력한다.

In [16]:
a = [['apple','banana','cherry'], 1]
print(a[0][2][5])

y

## 문제 8. (6점)
- 주어진 리스트에서 알파벳 글자를 모두 임의의 숫자로 변경하세요

In [18]:
a = [1, 2, "A", 3, "D"]
a[2]=7
a[4]=21
print(a)

[1, 2, 7, 3, 21]

## 문제 9. (6점)
- 다음과 같은 리스트가 있을 때, 오름차순과 내림차순을 각각 출력하세요.

In [26]:
a = [5, 2, 3, 1, 4]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [27]:
a = [5, 2, 3, 1, 4]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

## 문제 10. (6점)
- 아래 코드를 리스트 컴프리헨션으로 변환한다.

In [28]:
fruits = ["apple", "kiwi", "mango"]
newlist = []

for fruit in fruits:
  # print(fruit)
  if "a" in fruit:
    newlist.append(fruit)
print(newlist)

['apple', 'mango']

In [29]:
fruits = ['apple','kiwi','mango']

newlist = []
for fruit in fruits:
  
  print(fruit)

  if "a" in fruit:
    newlist.append(fruit)

    print(newlist)

apple
['apple']
kiwi
mango
['apple', 'mango']

In [30]:
fruits = ['apple','kiwi','mango']
"a" in fruits[2]

True